<h1><span data-i18n="skills.my_skills">About</span></h1>

<!--
<div class="column">
  <div class="row">
      <img src="../img/aboutmeimg1.png" width="20" height="20">
  </div>
  <div class="row">
      <img src="../img/aboutmeimg2.png" width="20" height="20">
  </div>
  <div class="row">
      <img src="../img/aboutmeimg3.png" width="20" height="20">
  </div>
</div>
-->

<img src="../img/aboutmeimg2.png" width="200" height="400" ALIGN=”left”>
<!--
<img src="../img/aboutmeimg1.png" width="20" height="20" ALIGN=”left”>
<img src="../img/aboutmeimg3.png" width="20" height="20" ALIGN=”left”>
-->


<div>
    Hi! Thank you for visiting my personal website; I hope you enjoy 
    your time here :). I'm Ansh, a freshman at UC Berkeley studying 
 computer science, although I do have broad interests in the fields of
    electrical engineering, mathematics, and neuroscience as well. Outside of academics,
    I'm an avid tennis tennis player, enjoy hanging out with friends and family, 
    and really love making food! 
    
    The goal for this website is to be an outlet for displaying 
    my passions :). Feel free to browse through the website to see what my specific interests are and learn more about me!
</div>


<!-- 500 333 300 400 500 333 -->

<!--
<img src="img/aboutmeimg1.png" width="500" height="333">
<img src="img/aboutmeimg2.png" width="500" height="333">
<img src="img/aboutmeimg3.png" width="500" height="333">
-->

<!--
<img src="aboutmeimg1.png" alt="Trulli" width="500" height="333">
-->
